extends layout

block content
  table(style='border-spacing: 10px; border-collapse: separate;')
    tr
      td
        table.map
          - var n = 0
          while n < map.size_x
            tr(id='maptr'+n)
            - var m = 0
            while m < map.size_y
              td(id='maptd_'+n+'_'+m, data-x = m, data-y = n)
              - m++
            - n++
      td
        table
          tr
            td
              div.alert.alert-info.sensorsdata
                p.sensorid
                  em select sensor to view sensor data
                p.sensortemperature
                p.sensorlight
          tr
            td
              //- div.alert.alert-info.controlsdiv(data-robot=1)
                | CONTROLS
                table
                  tr
                    td
                    td
                      a.btn.btn-default.controls.disabled(data-action='up') UP
                    td
                  tr
                    td
                      a.btn.btn-default.controls.disabled(data-action='left') LEFT
                    td
                    td
                      a.btn.btn-default.controls.disabled(data-action='right') RIGHT
                  tr
                    td
                    td
                      a.btn.btn-default.controls.disabled(data-action='down') DOWN
                    td
                  tr
                    td
                      a.btn.btn-default.controls.disabled(data-action='rotate_left') ROTATE LEFT
                    td
                      a.btn.btn-default.controls.disabled(data-action='rotate_right') ROTATE RIGHT
                    td
                a.btn.btn-default.startmanual.disabled START MANUAL
                a.btn.btn-default.stopmanual STOP MANUAL
          tr
            td
              div.alert.alert-info.robotparams(data-robot=1)
                h4 Manual
                form
                  .form-group
                    label(for='input_x') X
                    input.form-control#input_x
                  .form-group
                    label(for='input_y') Y
                    input.form-control#input_y
                  a.btn.btn-success.manualrobot Go
                  | &nbsp;
                  a.btn.btn-danger.releaserobot Return to automatic
          tr
            td
              div.alert.alert-info.robotparams(data-robot=1)
                h4 Schedule
                form
                  .form-group
                    label(for='input_req_temp') Required temperature
                    input.form-control#input_req_temp
                  .form-group
                    label(for='input_req_light') Required light
                    input.form-control#input_req_light
                  .form-group
                    label(for='input_pack_size') Package size
                    input.form-control#input_pack_size
                  a.btn.btn-success.sendrobotdata Go

  div.hiddensensordata(style='display: none;')
    #{data}
  div.hiddenmapdata(style='display: none;')
    #{JSON.stringify(map)}

  script.
    var refresh_rate = 100000;
    var controls = $('.controlsdiv');

    var data = JSON.parse($('.hiddensensordata').text().substring(1, $('.hiddensensordata').text().length - 1));
    var map_data = JSON.parse($('.hiddenmapdata').text().substring(1, $('.hiddenmapdata').text().length - 1));

    var sensors = data.sensors;
    var robots =  data.robots;
    var selected_sensor = null;

    var put_sensors = function () {
      for (var i in sensors) {
        $('#maptd_' + sensors[i].y + '_' + sensors[i].x).html('<div id="sensorarea'+i+'" data-sensor="'+i+'" class="sensorarea"></div>');
      }
    }

    put_sensors();

    $('#maptd_' + robots[0].y + '_' + robots[0].x).html('<div id="robot_1" class="robot left_right" data-robot="1"></div>');
    $('.stopmanual').hide();

    $('.map').on('click', '.robot', function(){
      controls.attr('data-robot', $(this).attr('data-robot'));
      $(this).addClass('selected');
      $('.startmanual').removeClass('disabled');
      controls.show();
    });

    $('.manualrobot').on('click', function() {
      var manual = robots[0].manual;
      var robot = $('#robot_1');

      var x = $('#input_x').val() || 0;
      var y = $('#input_y').val() || 0;

      var new_robot_data = {
        x: x,
        y: y
      };

      if (x < 0 || y < 0 || x > map_data.size_x - 1 || y > map_data.size_y - 1) {
        alert('Incorrect coordinates, x range is {0,' + (map_data.size_x - 1) + '}, y range is {0,' + (map_data.size_y - 1) + '}');
      } else {
        var check_obstacles = true;
        for (var i in map_data.obstacles) {
          if (x == map_data.obstacles[i].position_x && y == map_data.obstacles[i].position_y) {
            check_obstacles = false;
          }
        }

        if (check_obstacles) {
          $.ajax({
            type: 'POST',
            url: '/robot/move',
            dataType: 'json',
            data: new_robot_data,
            complete: function() {
              console.log(arguments);
            },
            success: function(data, textStatus, jqXHR) {console.log('ASDA')
              if (data.complete) {
                alert('Robot is on his way to ' + JSON.stringify(new_robot_data));
              }
            }
          });
        } else {
          alert('There is an obstacle in ' + JSON.stringify(new_robot_data));
        }
      }


    });

    $('.releaserobot').on('click', function() {
      $.ajax({
        type: 'POST',
        url: '/robot/release',
        success: function(data, textStatus, jqXHR) {
          if (data.complete) {
            alert('Robot is in auto mode');
          }
        }
      });
    });

    $('.map').on('click', '.sensorarea', function() {
      var sensorid = $(this).attr('data-sensor');
      $('.sensorid').text('Sensor ID: ' + sensors[sensorid].id);
      $('.sensortemperature').text('Temperature: ' + sensors[sensorid].temperature);
      $('.sensorlight').text('Light: ' + sensors[sensorid].light);
      $('.sensorarea').each(function( index ) {
        $(this).removeClass('selected');
      });
      $(this).addClass('selected');
      selected_sensor = $(this).attr('id');
    });

    $('.controls').on('click', function() {
      var robot_id = controls.attr('data-robot');
      var robot = $('#robot_' + robot_id);
      var action = $(this).attr('data-action');

      var container = robot.parent();
      var x = container.attr('data-x');
      var y = container.attr('data-y');
      var moved = false;
      var new_rotated = '';
      var rotated = '';
      var old_rotated = 'up_down';
      if (robot.hasClass("left_right")) {
        old_rotated = 'left_right';
      }

      switch (action) {
        case 'up':
          if (y > 0) {
            y--;
            new_rotated = 'up_down';
            moved = true;
            robots[0].rotated = 'up';
          }
          break;
        case 'down':
          if (y < 9) {
            y++;
            new_rotated = 'up_down';
            moved = true;
            robots[0].rotated = 'down';
          }
          break;
        case 'left':
          if (x > 0) {
            x--;
            new_rotated = 'left_right';
            moved = true;
            robots[0].rotated = 'left';
          }
          break;
        case 'right':
          if (x < 9) {
            x++;
            new_rotated = 'left_right';
            moved = true;
            robots[0].rotated = 'right';
          }
          break;
        case 'rotate_left':
          switch (robots[0].rotated) {
            case 'up':
              robots[0].rotated = 'left';
              break;
            case 'down':
              robots[0].rotated = 'right';
              break;
            case 'left':
              robots[0].rotated = 'down';
              break;
            case 'right':
              robots[0].rotated = 'up';
              break;
          }
          if (old_rotated == 'left_right') {
            new_rotated = 'up_down';
          } else {
            new_rotated = 'left_right';
          }
          moved = true;
          break;
        case 'rotate_right':
          switch (robots[0].rotated) {
            case 'up':
              robots[0].rotated = 'right';
              break;
            case 'down':
              robots[0].rotated = 'left';
              break;
            case 'left':
              robots[0].rotated = 'up';
              break;
            case 'right':
              robots[0].rotated = 'down';
              break;
          }
          if (old_rotated == 'left_right') {
            new_rotated = 'up_down';
          } else {
            new_rotated = 'left_right';
          }
          moved = true;
          break;
      }
      if (moved) {
        robots[0].x = x;
        robots[0].y = y;

        $.ajax({
          type: 'POST',
          url: '/robot/move',
          data: robots[0],
          success: function(data, textStatus, jqXHR) {
            if (data.complete) {
              $('#maptd_' + y + '_' + x).html(robot);
              if (new_rotated != '') {
                robot.removeClass(old_rotated);
                robot.addClass(new_rotated);
              }
              var sensorarea = false;
              for (var i in sensors) {
                if (x == sensors[i].x && y == sensors[i].y) {
                  sensorarea = true;
                }
              }

              if (!sensorarea) {
                put_sensors();
                if (selected_sensor != null) {
                  $('#'+selected_sensor).addClass('selected');
                }
              }
            }
          }
        });

      }

    });

    $('.sendrobotdata').on('click', function() {
      var new_robot_data = {
        temperature: $('#input_req_temp').val(),
        light: $('#input_req_light').val(),
        pack_size: $('#input_pack_size').val()
      };

      $.ajax({
        type: 'POST',
        url: '/robot/schedule',
        data: new_robot_data,
        success: function(data, textStatus, jqXHR) {
          if (data.complete) {
            alert('Robot is scheduled with params ' + JSON.stringify(new_robot_data));
          }
        }
      });

    });

    var pollServerForData = function () {
      $.getJSON('/sensordata', function (response) {
        if (response) {
          $('.hiddensensordata').html(JSON.stringify(response));

          sensors = response.sensors;

          //if (robots[0].manual == false) {
            var robot = $('#robot_1');
            var robot_data = response.robots[0];
            if (robot_data.rotated == 'left' || robot_data.rotated == 'right') {
              robot.removeClass('up_down');
              robot.addClass('left_right');
            } else {
              robot.addClass('up_down');
              robot.removeClass('left_right');
            }

            $('#maptd_' + robot_data.y + '_' + robot_data.x).html(robot);

            robots[0] = robot_data;

            var sensorarea = false;
            for (var i in sensors) {
              if (robot_data.x == sensors[i].x && robot_data.y == sensors[i].y) {
                sensorarea = true;
              }
            }

            if (!sensorarea) {
              put_sensors();
              if (selected_sensor != null) {
                $('#'+selected_sensor).addClass('selected');
              }
            }
          //}

        }
        setTimeout(pollServerForData, refresh_rate);
      });
    };
    setTimeout(pollServerForData, refresh_rate);